@import 'app';
@import 'plateau';
@import 'div';
@import 'rover_pannel';
@import 'buttons';
@import 'rovers';
@import 'range';

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  background: rgb(38,50,64);
  background: linear-gradient(184deg, rgba(38,50,64,1) 0%, rgba(38,50,64,1) 57%, rgba(53,67,83,1) 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}

h4 {
  margin: 0 0 6px 0;
  // border-bottom: 1px solid rgba(255,255,255,0.5)
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.left-side {
  flex: 0 0 50%;
  padding: 0 30px;
  overflow: scroll;
}

.right-side {
  flex: 0 0 45%;
  background-color: #2e3c49;
  position: relative;
  overflow: hidden;
}

video {
  width: 1400px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 900px) {
  .App {
    flex-direction: column;
    height: 100%;
  }

  .rover-pannel {
    flex-direction: column;
  }

  .set-new-rover-div {
    width: 95%;
  }

  .rovers-div {
    width: 95%;
  }

  .right-side {
    flex: 0 0 100%;
    padding: 0;
  }

  .left-side {
    flex: 0 0 100%;
  }

  video {
    height:  100vw;
  }

  table {
    margin: 30px;
  }


}
