.deploy-squad {
  background-color: #1aa94d;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Rubik', sans-serif;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
  transition: all ease 0.6s;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all ease 0.6s;
  }
  span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  &:hover span {
    padding-right: 25px;
  }
  &:hover span:after {
    opacity: 1;
    right: 0;
  }

}

.direction-button {
  background-color: #2d4b6e;
  margin: 0 3px;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Rubik', sans-serif;
  padding: 5px 10px;
  transition: all ease 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #216a51;
  }
  &:focus {
    outline: none;
  }
}

#add-rover {
  background-color: #257a43;
  margin: 0 3px;
  width: 120px;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: 'Rubik', sans-serif;
  padding: 5px 10px;
  transition: all ease 0.3s;
  &:hover {
    cursor: pointer;
    background-color: #1aa94d
  }
  &:focus {
    outline: none;
  }
}
