.div {
  background-color: rgba(31,37,51,0.9);
  border-radius: 2px;
  padding: 20px 10px;
  margin: 10px;
  box-shadow: 0 0 15px rgba(68,73,88,0.25)
}

.set-new-rover-div {
  width: 50%;
}

.rovers-div {
  width: 45%;
}
