.container {
  width: 100%;
  margin: 0 auto;
}

table {
  border: 1px solid white;
  td {
    border: 1px solid white;
    border-radius: 7px;
    width: 80px;
    height: 80px;
    color: white;
    position: relative;

    span {
      font-size: 30px;
      font-weight: bold;
      color: red;
    }
  }
}
