.S {
  background-image: url('/roverS.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.W {
  background-image: url('/roverW.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.E {
  background-image: url('/roverE.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.N {
  background-image: url('/roverN.png');
  background-size: contain;
  background-repeat: no-repeat;
}
